@charset "ISO-8859-1";
body{
    padding: 0px;
    margin: 0px;
    background-color:rgb(39, 37, 34); 
}
form{
    background-color:rgb(39, 37, 34); 
    height: 350px;
    width: 80%;
    position: relative;
    left: 10%;
    top: 80px;
}

.inputs{
    width: 17%;
    position: relative;
    left: 5%;
    top: 70px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    /*outline es sin contorno*/
    outline:none ;
    background-color:rgb(61, 59, 57);
    color: rgb(121, 132, 131);/*color de la fuente*/
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
::placeholder{ /*color del nombre de la celda*/
    background-color:rgb(61, 59, 56);
}

.button{
    position: relative;
    top: 150px;
    left: 0%;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    outline:none ;
    background-color:rgb(127, 166, 80);
    color:white;
    cursor:pointer ; /*Usabilidad*/
    
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.button:hover{ /*cuando se pase el mause por encima*/
    background-color:rgb(149, 187, 74);
}