@charset "ISO-8859-1";
/*Comentario CSS
Cascading Style Sheets
Sirve para darle un estilo a la pagina
*/
body{
    background-color:aqua; 
}
/* Selector de etiqueta*/
table{
	position: relative;
	top: 50px;
   text-align:center;
   margin: 0 auto;
    border-style:solid;
    border-collapse: collapse;
    border-color: rgb(238, 238, 238);
    box-shadow:rgb(127, 166, 80) 5px 5px 10px;
    
}

.modal .modal-content{
	background-image: url("../media/disparo-estrellas-hacia-abajo-animado.gif");
}

.modal h5{
	color:white;
}

.login{
	background-image: url("../media/disparo-estrellas-hacia-abajo-animado.gif");
	top: 100px;
	margin: 100px auto;

}

.login .log{
	background-image: url("../media/estrellas-en-el-bosque.gif");
	color:white;
	width: 100%;
}

.modal input{
	background-image: url("../media/estrellas-en-el-bosque.gif");
	color:white;
}

#iz{
	background:blue;
	position: absolute;
	width:15%;
	top: 119px;
	left: 0px;
}
th,td{
    border-style:groove;
    border-color: rgb(238, 238, 238);
    padding: 5px;
    color:blue;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
td{
    text-align: center;
    color:rgb(117, 117, 117);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
td:hover{
    background-color:rgba(74, 72, 70, 0.39);   
}
th:hover{
    background-color:rgba(74,72,70,0.39);   
}
.buscar label{
    top:25px;
	
	position: relative;
	border-style:solid;
	width:15%;
	background-color:rgb(39, 37, 34);
	border-color: rgb(238, 238, 238);
	text-align: center;
	color:rgb(200 , 200, 200);
	font-size: 20px;
	font-family:Georgia, 'Times New Roman', Times, serif;
}

.upload{
    position: absolute;
    top: 190px;
    left: 41%;
    width: 15%;
    background-color:rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
    color:rgb(0, 0, 0);
    font-size: 20px;
    background-color:rgb(127, 166, 80)
}
.fa-file-upload{
    font-size: 20px;
    background-color:rgb(127, 166, 80)
}
#fileUpload{ /*# para seleccionar el id*/
    display: none;
}
